/* stylelint-disable selector-class-pattern */

.settingBox {
  border: 1px dashed #ddd;
  border-radius: 4px;
  margin-top: 10px;
  padding: 18px 14px 14px;
  position: relative;

  + .settingBox {
    margin-top: 20px;
  }
}
