@charset "utf-8";

.root {
  align-items: center;
  color: var(--yt-spec-icon-inactive);
  display: flex;
  height: 48px;
  justify-content: center;
  position: absolute;
  right: 48px;
  top: 0;
  width: 48px;
  z-index: 999;

  .button {
    // background-color: var(--yt-spec-general-background-a);
    height: 40px;
    padding: 10px;
    width: 40px;

    img {
      height: auto;
      width: 100%;
    }
  }
}

.title {
  align-items: center;
  display: flex;
  padding: 8px 16px;

  .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 23px;

    img {
      height: auto;
      width: 100%;
    }
  }

  .name {
    align-items: center;
    color: #333;
    display: flex;
    margin-bottom: 5px;

    .text {
      font-size: 15px;
      margin-right: 6px;
    }

    .version {
      align-items: center;
      border: 1px solid currentcolor;
      border-radius: 3px;
      color: inherit;
      display: flex;
      font-size: 10px;
      font-weight: 700;
      justify-content: center;
      letter-spacing: -.2px;
      margin-top: 2px;
      padding: 2px 6px;
      text-decoration: none;
    }
  }
}
