.root {

  li {
    display: flex;
    user-select: none;

    &:not(:first-of-type) {
      margin-top: 8px;
    }

    > span {
      align-items: center;
      border-radius: 100px;
      color: #000;
      display: flex;
      font-size: 12px;
      font-weight: 700;
      height: 21px;
      justify-content: center;
      line-height: 1;
      margin-right: 8px;
      margin-top: 2px;
      min-width: 68px;
      padding: 2px 8px;
      text-transform: uppercase;

      &[data-type = "new"] {
        background-color: #fbca04;
      }

      &[data-type = "update"] {
        background-color: #0075ca;
        color: #fff;
      }

      &[data-type = "fix"] {
        background-color: #d73a4a;
        color: #fff;
      }

      &[data-type = "delete"] {
        background-color: #cfd3d7;
      }

      &[data-type = "info"] {
        background-color: #0e8a16;
        color: #fff;
      }
    }

    p {
      font-size: 15px;

      code {
        background-color: #eee;
        border-radius: 3px;
        color: #666;
        font-family: Roboto, sans-serif;
        line-height: 1;
        margin: 0 3px;
        padding: 2px 6px;
      }
    }
  }
}
