body {
  color: #131921;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  font-family: Roboto,
    "Noto Sans JP",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 660px;

  a {
    color: inherit;
    transition: opacity 400ms ease;

    &:hover {
      opacity: .4;
    }
  }

  [data-rmiz-modal-content] {
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
