/* stylelint-disable selector-class-pattern */

.root {
  padding: 30px 20px;

  section {

    + section {
      margin-top: 15px;
    }
  }

  h2 {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;

    span {
      margin-left: 5px;
    }
  }

  .content {
    border-left: 2px solid #eee;
    margin-left: 12px;
    margin-top: 15px;
    padding: 4px 0 6px 15px;

    p {
      font-size: 15px;

      + p {
        margin-top: 10px;
      }
    }

    .image {
      width: 100%;

      a {
        cursor: zoom-in;
        transition: opacity 400ms ease;

        &:hover {
          opacity: .8;
        }
      }

      img {
        border-radius: 5px;
        height: auto;
        width: 100%;
      }

      [data-rmiz-modal-content] {
        height: 100%;
        width: 100%;
      }
    }

    small {
      color: rgba(#000, .5);
      display: block;
      font-size: 10px;
      margin-top: 3px;
      text-align: right;
    }

    .settings {
      background-color: #f9fafb;
      border: 1px solid #eee;
      border-radius: 6px;
      padding: 20px 15px 15px;
    }

    .settingBox {
      border: 1px dashed #ddd;
      border-radius: 4px;
      margin-top: 10px;
      padding: 12px 14px 10px;
      position: relative;

      + .settingBox {
        margin-top: 20px;
      }
    }
  }
}
