@charset "utf-8";

.footer {
  margin-top: 40px;

  .messagearea {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .caption {
    font-size: 12px;
    line-height: 1;
    text-align: right;
  }
}
